*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
h1{
    font-size: 80px;
    margin-bottom: 2px;
    font-family: "Tourney", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
body i{
    font-size: 40px;
}
h2{
    font-size: 34px;
    margin-bottom: 5px;
    font-family: "Tourney", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}
p{
    font-size: 23px;
}
.banner{
    width: 100%;
    height: 600px;
    /* background-image: url(../imagens/banner.webp); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box1{
    margin-top: 40px;
    border: 1px solid black;
    background-color: whitesmoke;
    backdrop-filter: Blur(80px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 95%;
    height: auto;
    padding: 20px;
    gap: 50px;
    margin-bottom: 30px;
}

.box2{
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 400px;
    width: 950px;
    border-radius: 20px;
}

.area_escolha {
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
    /* gap: 50px;  */
    /* margin: 20px;  */
    width: 100%;
    height: 250px; 
    text-align: center; 
    align-items: center;
    justify-content: space-between;
}

.area_botao {
    /* background-color: blue; */
    display: flex;
    min-width: 80%;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 30px; 
}


.botao {
    width: 300px;
    height: 50px;
    border: 2px solid black;
    border-radius: 8px;
    background: linear-gradient(135deg, #909090, #989898); 
    color: white;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    /* line-height: 60px; */
    /* transition: transform 0.2s, box-shadow 0.2s;  */
}


.botao:hover {
    transform: scale(1.01); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
    background: linear-gradient(135deg, white, white);
}

.botao:active {
    transform: scale(0.95); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 600px) {
    .area_botao {
        flex-direction: column; 
        gap: 15px;
    }
    .botao {
        width: 100%; 
    }
}

